table.dataTable thead > tr {
    font-size: 10px;
}

.img-icon {
    height: 20px;
}

.text-error{
    color: red;
}

.input-error{
    background-color:#FF709D;
}

tr.selected{
    background-color: #46b8da !important;
}

.form-group{
    padding-bottom: 10px;
}

.panel-heading {
    padding: 0px 15px;
}

.form-group>.form-group{
    padding:0px 0px;
}




